.card{
    max-width: 500px;
}

.qr-code{
    height: 200px;
    display: flex;
    justify-content: center;
}

.no-code{
    height: 200px;
    width: 200px;
    background-color: rgba(204, 196, 196, 0.77);
}